{% extends "base.html" %}
{% load i18n l10n %}

{% block title %}Delete Employee{% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    <p>{% blocktrans %}Are you sure you want to archive the selected {{ objects_name }}?<br />
    All of the following objects and their related items will be archived:{% endblocktrans %}</p>
    
        <ul>
            {% for obj in queryset %}
                <li>{{obj}}</li>
            {% endfor %}
        </ul>

    <form action="" method="post">{% csrf_token %}
    <div>
    {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="archive_seleted" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>

{% endblock %}
