{% extends "base.html" %}
{% load leave_utils %}
{% load compress %}
{% block title %}{% if edit %}Edit{% else %}Ask{% endif %} a leave{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" /> 
	<script type="text/javascript" src="/eleave/admin/jsi18n/"></script> 
	{% compress js %}
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script> 
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
	<script type="text/javascript" src="/static/admin/js/calendar.js"></script> 
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts-copy.js"></script>
	<script type="text/javascript" src="/static/scripts/leaverequest.js"></script>
	{% endcompress %}
	<style type="text/css">
		textarea#id_comments{width: 100%;}
		table#formtable{border-top: 5px solid #ddd;}
		
		#hor-minimalist-b {
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
			font-size: 12px;
			background: white;
			width: 100%;
			border-collapse: collapse;
			text-align: left;
			margin-top: 10px;
		}
		#hor-minimalist-b th {
			font-size: 14px;
			font-weight: normal;
			color: #039;
			border-bottom: 2px solid #6678B1;
			padding: 10px 8px;
		}
		
		#hor-minimalist-b td {
			border-bottom: 1px solid #CCC;
			color: #669;
			padding: 6px 8px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="leave-form">
		<div class="center"><h1>Leave Request</h1></div>
		<form id="leaveForm" method='POST' action=''>{% csrf_token %}
			<table id="formtable" style="margin: 0 auto; width: 820px;">
				<tr>
					<td class="col1"><strong>Employee:</strong></td>
					<td>{% if edit %}{{leaverequest.employee.display_name}}{% else %}{{employee.display_name}}{% endif %}</td>
				</tr>
				<tr>
					<td class="col1"><strong>Department:</strong></td>
					<td>{% if edit %}{{leaverequest.employee.department}}{% else %}{{employee.department}}{% endif %}</td>
				</tr>
				<tr>
					<td class="col1"><strong>Team:</strong></td>
					<td>{% if edit %}{{leaverequest.employee.team}}{% else %}{{employee.team}}{% endif %}</td>
				</tr>
				<tr>
					<td class="col1"><strong>Leave type:</strong></td>
					<td>
						<div>
							{{form.leave_type}}
							{% if form.leave_type.errors %}
								{{form.leave_type.errors}}
							{% endif %}
							<script>
								var login = '{{employee.display_name}}';
								var request_owner = '{% if edit %}{{leaverequest.employee.display_name}}{% else %}{{employee.display_name}}{% endif %}';
								if (login != request_owner)
								{
									$('#id_leave_type').attr('disabled', 'disabled');
								}
							</script>
							<span id="leave_type_error" class="red bold" style="margin-left: 20px;"></span>
						</div>
						<div id="leave_type_helps" style="width: 100%; display:none">
						{% for k, v in availableDays.items %}							
							<div id="{{k}}_help" class="leave_type_help">
							{% if k == "annual_leave" %}							
							<table id="hor-minimalist-b" width="100%">
								<thead>
								<tr>
									<th>Total entitled</th>
									<th>Total used</th>
									<th>Available</th>
									<th>Processing</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td><span id="{{k}}_total_days">{{v.total_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_used_days" class="">{{v.used_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_available_days" class="">{{v.available_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_need_approval" class="">{{v.need_approval}}</span> day(s)</td>
								</tr>
								</tbody>
							</table>
							{% else %}
							<table id="hor-minimalist-b" width="100%">
								<thead>
								<tr>
									<th>Total entitled</th>
									<th>Total used</th>
									<th>Available</th>
									<th>Processing</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td><span id="{{k}}_total_days">{{v.total_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_used_days" class="">{{v.used_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_available_days" class="">{{v.available_days|floatformat:2}}</span> day(s)</td>
									<td><span id="{{k}}_need_approval" class="">{{v.need_approval}}</span> day(s)</td>
								</tr>
								</tbody>
							</table>
							{% endif %}
							{% if v.expire_date %}
							<strong id="marriage_leave_expire_date">Expire on: {{v.expire_date|date:"Y-m-d"}}</strong>
							{% endif %} 
							</div>
						{% endfor %}
						</div>
					</td>
				</tr>
				<tr>
					<td class="col1"><strong>Period:</strong>
						<p class="tip">Please skip weekend days and public holidays!</p>
					</td>
					<td>
						{% if periods %}
							{% for p in periods %}
								<div class="period">
								From:<input id="id-start-date" value="{{p.start|date:"Y-m-d"}}" class="vDateField notdatewidget" type="text" name="start_date0" size="11" />
								<select name="start_time0" id="id_start_time" class="timeOptions">
									<option value="9" {% period_AM_selected p.start %}>AM</option>
									<option value="13" {% period_PM_selected p.start %}>PM</option>
								</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								To:<input id="id-end-date" value="{{p.end|date:"Y-m-d"}}" class="vDateField notdatewidget" type="text" name="end_date0" size="11" />
								<select name="end_time0" id="id_end_time" class="timeOptions">
									<option value="9" {% period_AM_selected p.end %}>AM</option>
									<option value="13" {% period_PM_selected p.end %}>PM</option>
								</select>
								<input class="btn-delete-period" type="image" src="/static/admin/img/admin/icon_deletelink.gif" alt="" />
								</div>
							{% endfor %}
						{% else %}
							<div class="period">
							From:<input id="id-start-date" class="vDateField notdatewidget" type="text" name="start_date0" size="11" />
							<select name="start_time0" id="id_start_time" class="timeOptions">
								<option value="9" selected="selected">AM</option>
								<option value="13">PM</option>
							</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							To:<input id="id-end-date" class="vDateField notdatewidget" type="text" name="end_date0" size="11" />
							<select name="end_time0" id="id_end_time" class="timeOptions">
								<option value="9">AM</option>
								<option value="13" selected="selected">PM</option>
							</select>
							</div>
						{% endif %}
						<div id="total-days" style="float:right;font-size:24px;">
							<span id="days">0</span>Day
						</div>
						<div id="add-period-box">
							<a id="link-add-period" class="add-another" href="">
								   <img src="/static/admin/img/admin/icon_addlink.gif" alt="">
								   Add another period
							<a/>
							<span id="period_warn" class='red bold' style="margin-left: 20px;"></span>							
						</div>
						<ul class="errorlist" style="display:none"><li id="period_errors"></li></ul>
						<script type="text/javascript">
							DateTimeShortcuts.showDays();
						</script>
					</td>
				</tr>
				<tr>
					<td class="col1"><strong>Status:</strong></td>
					<td>
						{{form.status}}
					</td>
				</tr>
				<tr>
					<td class="col1"><strong>Approvers:</strong></td>
					<td>
					{% if edit %}
					{{ leaverequest.employee.get_approvers|join:", " }}
					{% else %}
					{{ employee.get_approvers|join:", " }}
					{% endif %}
					</td>
				</tr>
				<tr>
					<td class="col1"><strong>Comments:</strong></td>
					<td>
						{{form.comments}}
					</td>
				</tr>
				<tr>
					<td class="col-btn" colspan="2">
						{% if edit %}
						<input type="hidden" value="1" name="modify" />
						<input type="hidden" value="{{leaverequest.days}}" name="modify_days" />
						<input type="hidden" value="{{leaverequest.id}}" name="leave_request_id" />
						{% endif %}
						<input type="hidden" value="{% if edit %}{{leaverequest.employee.id}}{% else %}{{employee.id}}{% endif %}" name="employee" />
						<img class="waiting_icon" src="/static/images/waiting.gif" alt="Waiting...">
						<input id="leave-request-submit" class="default" type="submit" value="Submit" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<script type="text/javascript">
		$(function(){
			
		});
	</script>
{% endblock %}