{% extends "base.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% block title %}Employee Manage{% endblock %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="/static/css/changelists.css" />
	
	<script type="text/javascript" src="/static/scripts/core.js"></script>
	<script type="text/javascript" src="/static/scripts/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery.init.js"></script>
	<script type="text/javascript" src="/static/scripts/actions.min.js"></script>
	<script type="text/javascript">
	(function($) {
		$(document).ready(function($) {
			var filters = [];
			get_filters();
			$("tr input.action-select").actions();
			
			// Add anchor tag for Show/Hide link
			var elem = $("div#changelist-filter");
			//$(elem).find("h2").first().append(' (<a id="fieldsetcollapser" class="collapse-toggle" href="#">Show</a>)');
			$("div#changelist-filter .filter-item").hide();

			// Add toggle to anchor tag
			$("div#changelist-filter h2").toggle(
				function() { // Show
					$('a.collapse-toggle').text("Hide");
					$("div#changelist-filter .filter-item").show();
					return false;
				},
				function() { // Hide
					$('a.collapse-toggle').text("Show");
					$("div#changelist-filter .filter-item").hide();
					return false;
				}
			);

			function get_filters(){
				$("div.filter-item ul li.selected").each(function(){
					var f = $.trim($(this).text());
					if (f != 'All' && f != 'Any date'){	
						filters.push(f); 
					}
				});
				$('#filter_text').text(filters.join(' + '));
			}
		});
	})(django.jQuery);
	
	</script> 
	
	
{% endblock %}

{% block content %}
	<div class="change-list">
  <div id="content-main">
    <h1>Select an employee to change</h1>
	{% if messages %}
		<ul class="messagelist">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              <a href="add/" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            
			<h2 id="emp_filter" title="Click to toggle filter block.">{% trans 'Filter' %}
			(<a id="fieldsetcollapser" class="collapse-toggle" href="#">Show</a>)
			<span id="filter_text"></span>
			</h2>
            {% for spec in cl.filter_specs %}<div class="filter-item">{% admin_list_filter cl spec %}</div>{% endfor %}
			
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
	</div>
	<div id="import_emp">
		<form id="import_form" action="/eleave/main/import_employees/" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<h3 style="display: inline;">Import employees data from excell file:</h3>
			<input id="id_file" type="file" name="file" />
			<input id="id_import_btn" type="submit" value="import" />
			&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="id_import_error" class="invisible red"></span>
		</form>
	</div>
	<script type="text/javascript">
		(function($) {
			$(document).ready(function($) {
				$('#id_import_btn').click(function(e){
					e.preventDefault();
					var filename = $('#id_file').val();
					if (filename == '')
					{
						$("#id_import_error").text('File can not be empty!').show();
					}
					else
					{
						$("#id_import_error").text('').hide();
						$('#import_form').submit();
					}
				});
			});
		})(django.jQuery);
	</script>
{% endblock %}