{% extends "base.html" %}
{% load i18n l10n %}

{% block title %}Generate leave report{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/forms.css" /> 
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="/admin/jsi18n/"></script> 
    <script type="text/javascript" src="/static/admin/js/core.js"></script> 
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script> 
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script> 
    <style type="text/css">
        lable{font-weight: bold; font-size: 14px; width: 200px; display: block;}
        
    </style>
{% endblock %}

{% block content %}
	
	<h1>
	{% if leave_record %}Generate employees' leave record report
	{% else %}Generate employees' leave report
	{% endif %}
	</h1>
    <p>Please input {% if leave_record %}start date and end date{% else %}end date{% endif %} for exporting.</p>

    <form action="" method="post">{% csrf_token %}
    {% if leave_record %}
	<lable>Start date:</lable><input class="vDateField" type="text" name="start_date" />
	{% endif %}
    <lable>End date:</lable><input class="vDateField" type="text" name="end_date" />
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    {% if leave_record %}
	<input type="hidden" name="action" value="generate_leave_record_report" />
	{% else %}
	<input type="hidden" name="action" value="generate_leave_report" />
	{% endif %}
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "  Generate  " %}" />
    </div>
    </form>
	<br />
	All of the following Employee's data will be exported:
    {% for item in queryset %}
        <ul>{{ item }}</ul>
    {% endfor %}
{% endblock %}
