{% extends "base.html" %}
{% load i18n l10n %}

{% block title %}Generate leave report{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/forms.css" /> 
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="/eleave/admin/jsi18n/"></script> 
    <script type="text/javascript" src="/static/admin/js/core.js"></script> 
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script> 
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script> 
    <style type="text/css">
        lable{font-weight: bold; font-size: 14px; width: 200px; display: block;}
        
    </style>
{% endblock %}

{% block content %}

    <p>Generate report file successfully!
	<a href="{{link}}">Click here to download the report file.</a>
	</p>
{% endblock %}
