{% extends "base.html" %}
{% block title %}Reports{% endblock %}

{% block head %}
	<style>
		#boxA a{font-size: 14px; font-weight: bold;}
		#boxA .actual_on{
			font-size:10px;
			font-family: calibri;
			color: #999;
		}
		.sperate{color: #888; margin-right: 20px;}
		#boxA table tr td{
			padding: 0 10px;
			margin: 0;
			vertical-align: middle;
		}
		#boxA table tr td a{
			display: inline-block;
			line-height: 20px;
			height: 20px;
		}
		#boxA table tr td a:hover{
			color: red;
		}
		.years{
			margin: 5px 0;
			font-weight: bold;
		}
		.years a{
			padding:0;
			font-size: 24px;
			margin: 0 20px;
		}
		.years a:hover{
			border-bottom: 3px solid #036;
		}
		a.selected_year{
			color: #036;
			border-bottom: 3px solid #036;
		}
		a.record{color: #0d3805}
		img.download_icon{display:block; float:left;}
		.icon1{position: relative; top: 5px;}
	</style>
{% endblock %}

{% block content %}
	<div id="boxA">
        <h1>Monthly Leave Reports</h1>
		<div class="years">
			{% for y in years %}
			<a style="font-size: 32px;" {% if y.1 %}class="selected_year"{% endif %} href="?year={{y.0}}">{{y.0}}</a>
			{% endfor %}
		</div>
		<table>
		{% for item in reports %}
			{% for k, v in item.items %}
			<tr class="report_row" style="height: 30px;">
				<td><span><strong>{{k}}</strong></span>:</td>
				{% for title, dlink, ulink, actual in v %}
				<td>
					<a href="{{dlink}}{{ulink}}">
						<span>{{title}}</span>
					</a><span class="sperate1">({{actual|date:"Y-m-d"}})</span>
					{% if dlink != '' %}
					<a class="update_link icon1" href="{{ulink}}"><img id="update_report" src="/static/images/update.ico" alt="Update" title="Update report" /></a>
					<img id="updating_report" class="invisible icon1" src="/static/images/waiting.gif" width="16" height="16" alt="" title="Updating..." />
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		{% endfor %}
		</table>
		<script type="text/javascript">
			$('.update_link').click(function(e){
				e.preventDefault();
				var self = $(this);
				self.hide();
				self.next().show();
				window.location = self.attr('href');
			});
		</script>
    </div>
	<script>
		$('tr.report_row td:last-child a').addClass('record');
	</script>

{% endblock %}