{% extends "base.html" %}
{% block title %}Reports{% endblock %}

{% block head %}
	<style>
		#boxA a{font-size: 14px; font-weight: bold;}
		#boxA .actual_on{
			font-size:10px;
			font-family: calibri;
			color: #999;
		}
		.sperate{color: #888; margin-right: 20px;}
		#boxA table tr td{
			padding: 0 10px;
			margin: 0;
			vertical-align: middle;
		}
		#boxA table tr td a{
			display: inline-block;
			line-height: 20px;
			height: 20px;
		}
		#boxA table tr td a:hover{
			color: red;
		}
		.years{
			margin: 5px 0;
			font-weight: bold;
		}
		.years a{
			padding:0;
			font-size: 24px;
			margin: 0 20px;
		}
		.years a:hover{
			border-bottom: 3px solid #036;
		}
		a.selected_year{
			color: #036;
			border-bottom: 3px solid #036;
		}
		a.record{color: #0d3805}
		img.download_icon{display:block; float:left;}
	</style>
{% endblock %}

{% block content %}
	<div id="boxA">
        <h1>Monthly Leave Reports</h1>
		<div class="years">
			{% for y in years %}
			<a style="font-size: 32px;" {% if y.1 %}class="selected_year"{% endif %} href="?year={{y.0}}">{{y.0}}</a>
			{% endfor %}
		</div>
		<table>
		{% for item in reports %}
			{% for k, v in item.items %}
			<tr class="report_row" style="height: 30px;">
				<td><span><strong>{{k}}</strong></span>:</td>
				{% for title, link, actual in v %}
				<td>
					<a href="{{link}}">
						<span>{{title}}</span>
					</a><span class="sperate">({{actual|date:"Y-m-d"}})</span>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		{% endfor %}
		</table>
    </div>
	<script>
		$('tr.report_row td:last-child a').addClass('record');
	</script>

{% endblock %}